<% include ./partials/header.ejs %>

<div class="row">
  <div class="col-md-12">.col-md-12 Your most listened to artists this year</div>
</div>
<div class="row">
  <div class="col-md-3">.col-md-3 Winter</div>
  <div class="col-md-3">.col-md-3 Spring</div>
  <div class="col-md-3">.col-md-3 Summer</div>
  <div class="col-md-3">.col-md-3 Fall </div>
</div>

<% include ./partials/footer.ejs %>